@{
    ViewData["Title"] = "Admin Page";
}

<div>
    <div class="row">
        <div class="col-sm-12 col-md-2 my-4">
            <h6>Admin Page</h6>
            <span>Linkje</span><br />
            <span>Linkje</span><br />
            <span>Linkje</span><br />
            <span>Linkje</span><br />
        </div>
        <div class="col-sm-12 col-md-10 my-4">
            <h6 class="">
                Totaal Verbruik
            </h6>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th>Dag</th>
                    <th>Energieverbruik</th>
                    <th>Gasverbruik</th>
                    <th>Opgewekte Energie</th>
                </thead>
                <tbody>
                    <tr>
                        <td>05-06-2020</td>
                        <td>110 kWh</td>
                        <td>64 M³</td>
                        <td>40 kWh</td>
                    </tr>
                    <tr>
                        <td>06-06-2020</td>
                        <td>175 kWh</td>
                        <td>62 M³</td>
                        <td>25 kWh</td>
                    </tr>
                    <tr>
                        <td>07-06-2020</td>
                        <td>113 kWh</td>
                        <td>55 M³</td>
                        <td>24 kWh</td>
                    </tr>
                    <tr>
                        <td>08-06-2020</td>
                        <td>110 kWh</td>
                        <td>64 M³</td>
                        <td>40 kWh</td>
                    </tr>
                    <tr>
                        <td>09-06-2020</td>
                        <td>160 kWh</td>
                        <td>61 M³</td>
                        <td>34 kWh</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>