@{
    ViewData["Title"] = "Admin Page";
}

<div>
    <div class="row">
        <div class="col-sm-12 my-4">
            <p class="text-center">
                Admin Page
            </p>
        </div>
    </div>
</div>