@{
    ViewData["Title"] = "Admin Login Page";
}

<div>
    <div class="row">
        <div class="col-sm-12 my-4">
            <p class="text-center">
                Login for admin using a password
            </p><br>
            <a asp-controller="Home" asp-action="Admin">Continue</a>
        </div>
    </div>
</div>