@model project_D.Models.Data

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DataID" />
            <div class="form-group">
                <label asp-for="EnergyConsumption" class="control-label"></label>
                <input asp-for="EnergyConsumption" class="form-control" />
                <span asp-validation-for="EnergyConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasConsumption" class="control-label"></label>
                <input asp-for="GasConsumption" class="form-control" />
                <span asp-validation-for="GasConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyGenerated" class="control-label"></label>
                <input asp-for="EnergyGenerated" class="form-control" />
                <span asp-validation-for="EnergyGenerated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GasAdjustment" class="control-label"></label>
                <input asp-for="GasAdjustment" class="form-control" />
                <span asp-validation-for="GasAdjustment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyAdjustment" class="control-label"></label>
                <input asp-for="EnergyAdjustment" class="form-control" />
                <span asp-validation-for="EnergyAdjustment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyGenAdjustment" class="control-label"></label>
                <input asp-for="EnergyGenAdjustment" class="form-control" />
                <span asp-validation-for="EnergyGenAdjustment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <input asp-for="DepartmentID" class="form-control" />
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
